<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

  
  <servlet>
  <servlet-name>Ajouter</servlet-name>
  <servlet-class>com.Employes.servlets.Ajouter</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Ajouter</servlet-name>
  <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>Afficher</servlet-name>
  <servlet-class>com.Employes.servlets.Afficher</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Afficher</servlet-name>
  <url-pattern>/afficher</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <servlet-name>About</servlet-name>
  <servlet-class>com.Employes.servlets.About</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>About</servlet-name>
  <url-pattern>/about</url-pattern>
  </servlet-mapping>
  
   <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
  
</web-app>